@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

.dark-theme{
    --first-color:#0e2431;
    --second-color: rgb(230, 48, 93);
    --third-color:#777;

    --hover-color:rgb(223, 37, 84);

    --body-bg-color: #fefefe;
    --card-bg-color:#fff;
    --modal-bg-color:#fff;
    --bg-transparent-color:rgba(0,0,0,0.1);
    --transparent-color-01:rgba(0,0,0,0.1);
    --transparent-color-02:rgba(106,89,209,0.1);
    --line-color:#d7d7d7;

    --color-filter:invert(1);

    --box-shadow:0px 0px 20px rgba(0 0 0 / 10%);

    --small-fonts-size:0.9em;
    --normal-font-size:1em;

    --scroll-bar-color:#c5cadf;
    --scroll-thumb-color:#70768a;
    --scroll-thumb-hover-color:#454f6b;

    --btn-font-color: black;
}

html{
    scroll-behavior: smooth;
}

body{
    color:var(--first-color);
    background: var(--body-bg-color);
    margin: 2rem 0 0 0 ;
    transition: 0.5s ease;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

                                    /* Scroll bar  */

::-webkit-scrollbar{
    width: 10px;
    background: var(--scroll-bar-color);
}                 

::-webkit-scrollbar-thumb{
    background: var(--scroll-thumb-color);
    border-radius: 2em;
}

::-webkit-scrollbar-thumb:hover{
    background: var(--scroll-thumb-hover-color);
}

                            /* theme change  */
.theme-btn{
    z-index: 999999;
    position: fixed;
    right: 0px;
    top: 100px;
    background: var(--transparent-color-01);
    backdrop-filter: blur(20px);
    width: 50px;
    height: 50px;
    font-size: 1.2em;
    border-radius: 5px 0 0 5px;
    box-shadow: var(--box-shadow);
    cursor: pointer;
}

.theme-btn .fa-sun, .theme-btn.sun .fa-moon{
    display: none;
}

.theme-btn.sun .fa-sun{
    display: block;
}

:root{
    --first-color:#fff;
    --second-color: rgb(223, 37, 84);
    --third-color:#a9afc3;
    
    --hover-color:rgb(223, 37, 84);
    --body-bg-color: #0e1b31;
    --card-bg-color:#132347;
    --modal-bg-color:#102048;
    --bg-transparent-color:rgba(255,255,255,0.1);
    --transparent-color-01:rgba(255,255,255,0.1);
    --line-color:#454f6b;

    --color-filter:invert(0);

    --scroll-bar-color:#c1ceff;
    --scroll-thumb-color:#282f43;
    --scroll-thumb-hover-color:#454f6b;

    --bg-transparent-color:rgba(0,0,0,0.1);
    --transparent-color-01:rgba(0,0,0,0.1);
    --transparent-color-02:rgba(106,89,209,0.1);

    --btn-font-color: #fff;
}

/* header  */
header{
    z-index: 99999;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    transition: 0.6s ease;
}

header.sticky{
    background: rgba(255, 255, 255, 0.1);
    box-shadow: var(--box-shadow);
}

.nav-bar{
    position: relative;
    height: calc(4rem + 1rem);
    max-width: 1250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    padding: 0 20px;
    transition: 0.6s ease;
    backdrop-filter: blur(20px);
}

header.sticky .nav-bar{
    height: calc(2.5rem + 1rem);
}

.nav-bar .logo{
    color: var(--first-color);
    font-size: 1.3em;
    font-weight: 600;
}

.nav-items a{
    color: var(--first-color);
    font-size: var(--normal-font-size);
    font-weight: 500;
}

.nav-items a.active{
    color: var(--second-color);
}

.nav-items a:not(:last-child){
    margin-right: 50px;
}

.nav-items a:hover{
    color: var(--second-color);
}

.navbar-menu-btn{
    display: none;
}



                                        /* Home Section  */
.home{
    position: relative;
    max-width: 1250px;
    min-height: 105vh;
    margin-left: auto;
    margin-right: auto;
    padding: 4rem 2rem ;
    flex-direction: column;
}

.home .home-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.home-container .media-icons{
    display: flex;
    flex-direction: column;
    margin-right: 40px;
    
}
.home-container .media-icons a{
    color: var(--second-color);
    font-size: 1.5em;
    margin: 10px 0;
}

.home-container .media-icons a:hover{
    color: var(--hover-color);
}
.home-container .info h2{
    font-size: 4em;
    font-weight: 600;
    line-height: 70px;
}

.home-container .info h3{
    color: var(--third-color);
    font-feature-settings: 1.3em;
    font-weight: 600;
    line-height: 50px;
}

.home-container .info p{
    color: var(--third-color);
    font-size: var(--normal-font-size);
    max-width: 350px;
}

.home-container .info span{
    color: var(--second-color);
}

.btn{
    color: var(--btn-font-color);
    font-size: var(--normal-font-size);
    font-weight: 500;
    display: inline-block;
    margin-top: 25px;
    padding: 20px 30px;
    letter-spacing: 1px;
    border-radius: 10px;
    border: 1px solid var(--hover-color);
    position: relative;
    cursor: pointer;
    transition: color 0.4s linear;
    background: none;
}

.btn:hover {
    color: white;
    border-radius: 15px;
}

.btn::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: var(--hover-color);
    border-radius: 10px;
    transition: transform 0.8s;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
    transform: scaleX(0);
}

.btn:hover::before{
    transform: scaleX(1);
}

#fb:hover{
    color: #3b5998;
}

#insta:hover{
    color: rgb(241, 95, 42);
}

#linkedin:hover{
    color: #4267b2;
}

#whatsapp:hover{
    color: green;
}

#git:hover{
    color: #333;
}

.home-container .home-img{
    position: relative;
}

.home-container .home-img img{
    width: 90%;
    transform: translate(0,0);
}

@keyframes arrow-down {
    0%{
        transform: translate(0);
    }
    30%{
        transform: translateY(10px);
    }
}


                                    /* Common Style for all sections  */
.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-center-p{
    display: flex;
    justify-content: center;
    align-items: center;
}
.section{
    position: relative;
    max-width: 1150px;
    margin-left: auto;
    margin-right: auto;
    padding: 6rem 2rem 2rem;
}
                           
.sub-section{
    position: relative;
    max-width: 1150px;
    margin-left: auto;
    margin-right: auto;
    padding: 6rem 0;
}

.section-title{
    font-size: 2.5rem;
    font-weight: 700;
    transform: translateY(-80px);
    margin-bottom: 0.3rem;
    margin-top: 1rem;
    text-decoration: underline var(--second-color) 5px;
}

.container{
    position: relative;
    flex-direction: column;
}

                        /* About section  */
#about-title{
    margin-top: 200px;
}
               
#about-container{
    text-align: center;
}

.con{
    display: flex;
}

.text-container{
    width: 100%;
    margin: auto;
    justify-content: center;
    align-items: center;
    flex-basis: 70%;
    text-align: center;
}

.text-container{
    font-size: 1.6rem;
}

.text-container span{
    color: var(--second-color);
}

.about .section-title{
    margin-top: 3rem;
}

                        /* Skill section  */
.skills .container .content{
    width: 100%;
}              

.skills{
    margin-top: 150px;
}

.skills-list{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(225px,1fr));
    max-width: 100%;
    margin: 0 auto;
    gap: 20px;
}

.skills-card{
    background: var(--card-bg-color);
    border-bottom: 3px solid var(--second-color);
    padding: 50px;
    border-radius: 6px;
    box-shadow: var(--box-shadow);
    transition: 0.5s ease;
}

.skills-card > i{
    color: var(--second-color);
    font-size: 3em;
    margin-bottom: 30px;
}

.skills-card h3{
    font-size: 1.5em;
    font-weight: 700;
    line-height: 30px;
    margin-bottom: 20px;
}

.skills-card:hover{
    transform: translateY(-15px);
}

                        /* Services section */

.services .container .content{
    width: 100%;
}              

.service-list{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(225px,1fr));
    max-width: 80%;
    margin: 0 auto;
    gap: 100px;
}

.service-card{
    display: flex;
    flex-direction: column;
    gap: 15px;
    background: var(--card-bg-color);
    border-bottom: 3px solid var(--second-color);
    padding: 50px;
    border-radius: 6px;
    box-shadow: var(--box-shadow);
    transition: 0.5s ease;
    height: 400px;
    width: 400px;
}

.service-card > i{
    color: var(--second-color);
    font-size: 3em;
    margin-bottom: 30px;
}

.service-card h3{
    font-size: 1.5em;
    font-weight: 700;
    line-height: 30px;
    margin-bottom: 20px;
}
.service-card .project-icons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.service-card:hover{
    transform: translateY(-15px);
}


                            /* Contact section */

.contact .container .content{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.contact-left h2{
    font-size: 2.1em;
    font-weight: 800;
    margin-bottom: 40px;
}

.contact-list li{
    margin-bottom: 40px;
}

.contact-list li h3 {
    font-size: 1.3em;
    font-weight: 600;
    margin-bottom: 10px;
}

.contact-list li h3 i{
    color: var(--second-color);
    font-style: 1.3em;
    margin-right: 10px;
}

.contact-list li span a{
    color: var(--third-color);
}

.contact-right p{
    color: var(--third-color);
    font-size: 1.6em;
    margin-bottom: 30px;
}

.contact-right p span{
    color: var(--first-color);
    font-weight: 700;
}

.contact-form input, .contact-form textarea{
    border: none;
    color: var(--first-color);
    background: var(--transparent-color-02);
    font-size: var(--normal-font-size);
    margin-bottom: 20px;
    padding: 15px 40px 40px 20px;
    border-radius: 5px;
}

.contact-form textarea{
    width: 100%;
    resize: none;
}

::placeholder{
    color: var(--first-color);
}

.contact-form .first-row input{
    width: 100%;
}

.contact-form .second-row{
    display: flex;
    justify-content: space-between;
}

.contact-form .second-row input{
    width: 48%;
}

                        /* Footer  */

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: var(--second-color);
    width: 100%;
    margin-top: 50px;
    padding: 3rem 2rem;
    color: #fff;
}

footer a{
    color: #fff;
}

.footer-container{
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1150px;
}

.footer-container .about h2{
    font-size: 3em;
    font-weight: 600;
    background: linear-gradient(to top, transparent 0%, #fff 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0.8;
}

.footer-container .info,
.footer-container .follow{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.footer-container .info h3,
.footer-container .follow h3{
    font-size: 1.1em;
    font-weight: 500;
    margin-bottom: 30px;
}

.footer-container .info ul,
.footer-container .follow ul{
    display: flex;
}

.footer-container .info a{
    margin: 20px;
}

.footer-container .follow a{
    font-size: 1.5em;
    margin: 20px;
}

.footer-copyright p{
    font-size: var(--normal-font-size);
    font-weight: 300;
    margin-top: 50px;
}

/* media query and max width 1070px  */

@media screen and (max-width: 1070px){
    /* header navigation menu  */
    .navigation{
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background: var(--transparent-color-01);
        visibility: hidden;
        opacity: 0;
        transition: 0.3 ease;
    }

    .navigation.active{
        visibility: visible;
        opacity: 1;
    }

    .nav-items{
        position: relative;
        background: var(--modal-bg-color);
        width: 600px;
        max-width: 600px;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 20px;
        padding: 40px;
        border-radius: 10px;
        box-shadow: var(--box-shadow);
        transform: translateY(-50px);
        transition: 0.3s ease;
    }

    .navigation.active .nav-items{
        transform: translateY(0);
    }

    .nav-items a{
        margin: 15px 50px;
    }

    .nav-close-btn{
        position: absolute;
        background: url(images/close-btn.png)no-repeat;
        filter: var(--color-filter);
        background-size: 12px;
        background-position: center;
        width: 40px;
        height: 40px;
        top: 0;
        right: 0;
        margin: 10px;
        cursor: pointer;
    }

    .nav-menu-btn{
        background: url(images/menu-btn.png)no-repeat;
        filter: var(--color-filter);
        background-size: 30px;
        background-position: center;
        width: 40px;
        height: 40px;
        cursor: pointer;
        display: block;
    }  

    .theme-btn{
        right: 0;
        top: 30px;
    }
    
    /* home section  */
    .home .home-container .info{
        font-size: 0.85rem;
    }

    /* about section */
    .about .container .content{
        display: grid;
        width: 100%;
        row-gap: 20px;
    }   

    #about-title{
        margin-top: 70px;
    }

    /* skills section  */
    .skills{
        margin-top: 100px;
    }

    /* contact section */

    .contact .content{
        flex-direction: column;
        font-size: 0.9rem;
    }

    .contact .contact-left{
        margin-bottom: 40px;
    }

    .contact-form .second-row{
        flex-direction: column;
    }

    .contact-form .second-row input{
        width: 100%;
    }
}

/* for max width of 730px */
@media screen and (max-width:730px){
    /* common for all  */
    body{
        margin: 5rem 0 0 0;
    }

    .section-title{
        font-size: 2em;
        transform: translateY(-65px);
    }

    .theme-btn{
        right: 0;
        top: 80px;
    }

    /* skills section */
    .skills{
        margin-top: 100px;
    }


    #about-title{
        margin-top: 70px;
    }

    .home .home-container .info{
        font-size: 0.6rem;
    }

    .media-icons{
        margin-bottom: 80px;
    }
    .service-list {
        gap: 20px;
      }
    .service-card {
        height: auto;
        width: auto;
        gap: 10px;
    }
    .service-card img {
        width: 100%;
        max-width: 100%; /* Ensure the image doesn't exceed its container's width */
        height: auto; /* Maintain the image's aspect ratio */
    }
    
}